$background-color-violet: hsl(273, 75%, 66%);
$background-color-blue: hsl(240, 73%, 65%);

$text-dark-greyish-blue: hsl(237, 12%, 33%);
$text-light-greyish-blue: hsl(240, 6%, 50%);

$icon-orange: hsl(14, 88%, 65%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 64.5%;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(
    $background-color-violet,
    $background-color-blue
  );
  background-repeat: no-repeat;
  background-size: cover;
}

#img2 {
  display: none;
}

.card {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  height: 50rem;
  width: 90rem;
  background-color: white;
  background-image: url(../../images/bg-pattern-desktop.svg);
  border-radius: 2rem;
  overflow: hidden;
  background-position: right;

  &_img {
    height: 40rem;
    margin-top: 4rem;
    margin-left: -10rem;
    filter: drop-shadow(0 8rem 0 hsla(240, 27%, 69%, 0.247));
  }

  &_box {
    position: absolute;
    width: 17rem;
    margin-top: 19rem;
    margin-left: -8rem;
    z-index: 2;
  }

  &_content {
    margin-left: calc(0rem - 6rem);
  }

  &_content__faq {
    margin-left: 9rem;
    margin-top: 6rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &_content__questions {
    margin-left: 20rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: $text-dark-greyish-blue;
  }

  &_content__q_accordion {
    font-family: "Kumbh Sans", serif;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 2rem;
    width: 70%;
    text-align: left;
    border: none;
    outline: none;
    transition: font-weight 0.4s ease-in-out;
    margin-left: 7rem;

    &:hover {
      cursor: pointer;
      color: $icon-orange;
    }

    &:after {
      content: "\032C";
      font-size: 2rem;
      font-weight: bold;
      color: $icon-orange;
      float: right;
      margin-top: -1.4rem;
    }
  }
}

.active {
  font-weight: 700;

  &:after {
    content: "\032D";
  }
}

.panel {
  margin-left: 7rem;
  width: 70%;
  padding: 0 2rem;
  margin-top: -1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.3rem;
  color: $text-light-greyish-blue;
}

p {
  margin-right: 5rem;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .card {
    &_img {
      height: 75%;
    }

    &_box {
      width: 12%;
      margin-left: -6.5rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }

  .card {
    &_img {
      height: 60%;
    }
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 5%;
  }

  body {
    min-height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #img1 {
    display: none;
  }
  #img2 {
    display: block;
  }
  .card {
    grid-template-columns: 1fr;
    justify-items: center;
    overflow: visible;

    &_img {
      height: 80%;
      margin-top: -5rem;
    }

    &_box {
      display: none;
    }
  }
}